body * {
	margin: auto;
	font-family: 'Quicksand', sans-serif;
	border-radius: 10px;
	color: black;
	text-align: center;
}

body {
	background-color: #333;
	cursor: default;
}

h1 {
	color: ghostwhite;
	text-shadow: 2px 2px 10px black;
	font-size: 60px;
	margin-top: 50px;
	margin-bottom: 40px;
}

#container {
	border: solid #6464ff 5px;
	background-color: #6464ff;
	width: 650px;
	height: 350px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 2fr 1fr;
	box-shadow: 5px 5px 10px black;
}

#subContainer1 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	font-size: 30px;
}

#workLabel {
	grid-column: 1 / span 3;
}

#workInput {
	width: 75px;
	height: 25px;
	outline: none;
}

#subContainer2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	font-size: 30px;
}

#breakLabel {
	grid-column: 1 / span 3;
}

#breakInput {
	width: 75px;
	height: 25px;
	outline: none;
}

#subContainer3 {
	grid-column: 1 / span 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	font-size: 70px;
}

#subContainer4 {
	grid-column: 1 / span 2;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
}

#timer {
	font-weight: bold;
}

#workTimer {
	align-self: start;
	cursor: pointer;
}

#breakTimer {
	align-self: start;
	cursor: pointer;
}

#workTimerDecrease {
	font-size: 30px;
	padding-bottom: 7px;
	cursor: pointer;
}

#workTimerIncrease {
	font-size: 30px;
	padding-bottom: 7px;
	cursor: pointer;
}

#breakTimerDecrease {
	font-size: 30px;
	padding-bottom: 7px;
	cursor: pointer;
}

#breakTimerIncrease {
	font-size: 30px;
	padding-bottom: 7px;
	cursor: pointer;
}

#startPauseTimer {
	font-size: 20px;
	padding-bottom: 5px;
	cursor: pointer;
}

#stopTimer {
	font-size: 25px;
	padding-bottom: 7px;
	cursor: pointer;
}

#resetTimer {
	font-size: 25px;
	cursor: pointer;
}

.btn {
	outline: none;
	color: ghostwhite;
	width: 45px;
	height: 45px;
	text-shadow: none;
	border-radius: 50%;
	border: none;
	background-color: black;
	margin: 0px 25px 0px 25px;
	box-shadow: 0 0 10px 5px ghostwhite;
}

.btn:active {
	background-color: ghostwhite;
	color: black;
	transform: scale(0.85);
}

footer {
	margin-top: 50px;
	color: #6464ff;
	text-shadow: 2px 2px 5px black;
}

a:link {
	color: ghostwhite;
	text-shadow: 2px 2px 10px black;
}

a:visited {
	color: ghostwhite;
}

a:hover {
	color: black;
}

a:active {
	color: ghostwhite;
}

@media screen and (max-width: 650px) {
	h1 {
		font-size: 40px;
	}
	#container {
		width: 90%;
		height: 30%;
	}
	#subContainer1 {
		font-size: 20px;
	}
	#workInput {
		width: 25px;
	}
	#subContainer2 {
		font-size: 20px;
	}
	#breakInput {
		width: 25px;
	}
	#subContainer3 {
		font-size: 50px;
	}
	#workTimerDecrease {
		font-size: 15px;
	}
	#workTimerIncrease {
		font-size: 15px;
	}
	#breakTimerDecrease {
		font-size: 15px;
	}
	#breakTimerIncrease {
		font-size: 15px;
	}
	#startPauseTimer {
		font-size: 10px;
	}
	#stopTimer {
		font-size: 15px;
	}
	#resetTimer {
		font-size: 15px;
	}
	.btn {
		width: 25px;
		height: 25px;
	}
	footer {
		font-size: 15px;
	}
}
