body * {
	margin: auto;
	font-family: 'Quicksand', sans-serif;
	border-radius: 10px;
	color: black;
	text-align: center;
}

body {
	background-color: #333;
	cursor: default;
}

h1 {
	color: ghostwhite;
	text-shadow: 2px 2px 10px black;
	font-size: 60px;
	margin-top: 50px;
	margin-bottom: 40px;
}

#container {
	border: solid #6464ff 5px;
	background-color: #6464ff;
	width: 650px;
	height: 350px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 2fr 1fr;
	box-shadow: 5px 5px 10px black;
}

#subContainer1 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	font-size: 30px;
	padding-bottom: 10px;
}

#workLabel {
	grid-column: 1 / span 3;
}

#subContainer2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	font-size: 30px;
	padding-bottom: 10px;
}

#breakLabel {
	grid-column: 1 / span 3;
}

#subContainer3 {
	grid-column: 1 / span 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	font-size: 70px;
}

#subContainer4 {
	grid-column: 1 / span 2;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
}

#timer {
	font-weight: bold;
}

#workTimer {
	max-width: 100px;
	cursor: pointer;
}

#workTimerForm {
	display: none;
}

#breakTimer {
	max-width: 100px;
	cursor: pointer;
}

#breakTimerForm {
	display: none;
}

#decreaseWorkTimer {
	font-size: 30px;
	padding-bottom: 7px;
	cursor: pointer;
}

#increaseWorkTimer {
	font-size: 30px;
	padding-bottom: 7px;
	cursor: pointer;
}

#decreaseBreakTimer {
	font-size: 30px;
	padding-bottom: 7px;
	cursor: pointer;
}

#increaseBreakTimer {
	font-size: 30px;
	padding-bottom: 7px;
	cursor: pointer;
}

#startPauseTimer {
	font-size: 20px;
	padding-bottom: 5px;
	cursor: pointer;
}

#stopTimer {
	font-size: 25px;
	padding-bottom: 7px;
	cursor: pointer;
}

#resetTimer {
	font-size: 25px;
	cursor: pointer;
}

.btn {
	outline: none;
	color: ghostwhite;
	width: 45px;
	height: 45px;
	text-shadow: none;
	border-radius: 50%;
	border: none;
	background-color: black;
	margin: 0px 25px 0px 25px;
	box-shadow: 2px 2px 10px ghostwhite, -2px -2px 10px ghostwhite,
		-2px 2px 10px ghostwhite, 2px -2px 10px ghostwhite;
}

.btn:active {
	background-color: ghostwhite;
	color: black;
	transform: scale(0.85);
}

footer {
	margin-top: 50px;
	color: #6464ff;
	text-shadow: 2px 2px 5px black;
}

a:link {
	color: ghostwhite;
	text-shadow: 2px 2px 10px black;
}

a:visited {
	color: ghostwhite;
}

a:hover {
	color: black;
}

a:active {
	color: ghostwhite;
}

input[type='number'] {
	transform: translate(-15px);
	width: 50%;
	background-color: ghostwhite;
	border: none;
	font-size: 30px;
	padding-right: 20px;
}

input[type='submit'] {
	transform: translate(40px, -45px);
	margin-left: -20px;
	height: 40px;
	width: 50px;
	background: blue;
	color: white;
	border: none;
}

@media screen and (max-width: 650px) {
	h1 {
		font-size: 40px;
	}
	#container {
		width: 90%;
		height: 30%;
	}
	#subContainer1 {
		font-size: 20px;
	}
	#subContainer2 {
		font-size: 20px;
	}
	#subContainer3 {
		font-size: 50px;
	}
	#decreaseWorkTimer {
		font-size: 15px;
	}
	#increaseWorkTimer {
		font-size: 15px;
	}
	#decreaseBreakTimer {
		font-size: 15px;
	}
	#increaseBreakTimer {
		font-size: 15px;
	}
	#startPauseTimer {
		font-size: 10px;
	}
	#stopTimer {
		font-size: 15px;
	}
	#resetTimer {
		font-size: 15px;
	}
	.btn {
		width: 25px;
		height: 25px;
	}
	footer {
		font-size: 15px;
	}
}
